POSTGRES_USER=devuser
POSTGRES_PASSWORD=devuser
POSTGRES_DB=devdb
ADMIN_PASSWORD=changeme
EMAIL_HOST=todo
EMAIL_USERNAME=todo
EMAIL_PASSWORD=todo
SERVER_PORT=12345
WEB_PORT=3000
API_SCHEMA=http://127.0.0.1:$SERVER_PORT/openapi.json

