POSTGRES_USER=devuser
POSTGRES_PASSWORD=devuser
POSTGRES_DB=devdb
ADMIN_PASSWORD=changeme
# Resend SMTP is fixed in server/config.toml:
#   host = smtp.resend.com
#   username = resend
#   EMAIL__SECURITY=starttls   # starttls | smtps
#   EMAIL__PORT=587            # starttls: 25/587/2587, smtps: 465/2465
EMAIL__CREDS__PASSWORD=
EMAIL__FROM=
SERVER_PORT=12345
WEB_PORT=3000
