services:
  db:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: appuser
      POSTGRES_DB: appdb
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d appdb"]
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: valkey/valkey:9-alpine@sha256:b4ee67d73e00393e712accc72cfd7003b87d0fcd63f0eba798b23251bfc9c394
    restart: always
    command: valkey-server --save 60 1 --loglevel warning
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - redisdata:/data
    networks:
      - backend

  app:
    build:
      context: .
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      SESSION_SECURE: false
      ADMIN_PASSWORD: changeme
      middleware::limit::req_per_sec: 1000000

      DATABASE_URL: "postgres://appuser:appuser@db:5432/appdb"
      REDIS_URL: "redis://redis:6379"
    ports:
      - "12345:12345"
    networks:
      - backend

networks:
  backend:

volumes:
  pgdata:
  redisdata:
